@model OrderViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1> Details</h1>

<div>
    <h4>#@Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Paid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Paid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Closed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Closed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Taxs)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Taxs)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentWay)
        </dt>
        <dd class="col-sm-10">
            @Model.PaymentWay
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Building)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DriverPhone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DriverPhone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Discription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Started)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Started)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finished)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finished)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Finish_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Finish_Date)
        </dd>
        <dt>
            Map
        </dt>
        <dd>
            <iframe width="350"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?q=@(Model.Latitude),@(Model.Longitude)&z=18&amp;output=embed">
            </iframe>
        </dd>
    </dl>
    <div>
        @Html.ActionLink("Add Status", "AddStatus", new { id = Model.Id }) |
        @Html.ActionLink("Assign Driver", "AssignDriver", new { id = Model.Id }) |
        <a asp-action="Index">Back to List</a>
    </div>

    <h2>Orders Deatils</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Product</th>
            </tr>
        </thead>
        <tbody id="tbl">
            @foreach (var item in Model.OrderDetails)
            {
                <tr>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td><a target="_blank" asp-action="Details" asp-controller="Products" asp-route-Id="@item.Product_Id"> @item.ProductName</a></td>
                </tr>
            }

        </tbody>
    </table>
    <h2>Orders Statuses</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Date Time</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody id="tbl">
            @foreach (var item in Model.OrderStatuses.OrderBy(status => status.DateTime))
            {
                <tr>
                    <td>@item.DateTime.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@item.Status</td>
                </tr>
            }

        </tbody>
    </table>
</div>